.buttons{
	width:100%;
	padding: 0 100px 90px 100px;
	button{
		padding: 7px;
		color:#000;
		background-color:transparent;
		border:3px solid #000;
		width:10%;
		font-weight: 600;
		transition: .3s ease-in-out;
	}
	.previous {
	float: left;
	}
	.next{
		float: right;
	}
	.middle {
	margin-left:400px;
}
	button:hover{
		background-color: #aa8515;
		color:#f0f0f0;
		border-color: #aa8515;
	}
	@media screen and (max-width: 600px){
		padding: 0 20px 90px 20px;
			.previous,.next {
				float: left;
				width:30%;
				padding: 5px;
				margin-left: 5px;
			}
			.middle {
				margin-left: 5px;
				width:30%;
				float: left;
				padding: 5px;
			}
		}
}
.card-image{
	margin: 0 !important;
}

//ONDO FASHION WEEk---//
.ondo-fashion-week{
	padding: 0 90px;
	margin-top: 85px;
	margin-bottom: 30px;
	h2{
		font-size:35px;
		color:#aa8515;
		font-weight: 800;
		//margin-left: 8px;
		margin-bottom:8px;
	}
	.ondo{
		.fashion-week{
			background-color: transparent;
			box-shadow: none;
			.card-image{
				background-image: url('images/ondo-fashion-week-handbook-enlarged-neptunn.jpg');
				background-position: center;
				background-size: cover;
				height:500px;
			}
			h3{
				color:#333;
				font-weight: 400;
				font-size:25px;
				margin: 0 !important;
				}
		}
	}
	
	.text-caption{
		margin-top: 60px;
		.card-title{
			font-size:25px;
			font-weight: 700;
		}
		h2{
			color:black;
			font-size:25px;
			font-weight: 800;
		}
		p{
				font-size:20px;
				color:#999;
			}
		.text-caption2{
			padding-left: 0;
			p{
				font-size:20px;
				color:#999;
			}
		}
	}
	.logos{
		.logo-story{
			box-shadow: none;
			.card-image{
				background-image: url(images/ondo-fashion-week-old-and-new-neptunn.jpg);
				background-position: center;
				background-size: cover;
				width:inherit;
				margin-top: 80px;
				height: 400px;
			}
		}
	
	}
		.text-caption3{
			.card-title{
				color:#444;
				font-size:25px;
				font-weight: 700;
			}
			p{
				font-size:20px;
				color:#999;
				}
		}
	.text-logo{
		.card{
			box-shadow: none;
		}
		.card-image{
			background-image: url(images/ondo-fashion-week-other-brands-neptunn.jpg);
			background-position: center;
			background-size: cover;
			width:inherit;
			margin-top: 80px;
			height: 600px;
		}
		@media screen and (max-width: 600px){
			.card-image{
				height: 250px;
			}
		}
	}
	.text-logo2{
		@extend .text-logo;
		.card-image{
			background-image: url(images/ondo-fashion-week-pass-neptunn.jpg);
			height:500px
		}
	}
	.text-logo3{
		@extend .text-logo2;
		.card-image{
			background-image: url(images/ondo-fashion-week-handbook-neptunn.jpg);
		}
	}
	.orisa-text{
		.card{
			box-shadow:none;
			h2{
				color:#444;
				font-weight: 700;
				font-size: 25px;
			}
			
			p{
				font-size:20px;
				color:#999;
				}
		}
		
	}
	.fashion-week-work{
		@extend .text-logo;
		.card-image{
			background-image: url(images/ondo-fashion-week-orisa-neptunn.jpg);
			height:600px
		}
	}
	.fashion-week-work2{
		@extend .text-logo;
		.card-image{
			background-image: url(images/ondo-fashion-week-brief-neptunn.jpg);
			height:600px
		}
	}
	.fashion-week-work3{
		@extend .text-logo;
		.card-image{
			background-image: url(images/ondo-fashion-week-orisa-pattern-neptunn.jpg);
			height:600px;
			margin-top: 0;
		}
	}
	.fashion-week-video{
		@extend .text-logo;
		padding-bottom: 40px;
		.card-image{
			height:600px;
			margin-top: 0;
		}
	}
	.fashion-week-work4{
		@extend .text-logo;
		.card-image{
			background-image: url(images/ondo-fashion-week-creatives-1-neptunn.jpg);
			height:600px;
			margin-top: 0;
		}
	}
	.fashion-week-work5{
		@extend .text-logo;
		.card-image{
			background-image: url(images/ondo-fashion-week-creatives-2-neptunn.jpg);
			height:600px;
			margin-top: 0;
		}
	}
	.fashion-week-work6{
		@extend .text-logo;
		.card-image{
			background-image: url(images/ondo-fashion-week-apparel-1-neptunn.jpg);
			height:600px;
			margin-top: 0;
		}
	}
	.fashion-week-work7{
		@extend .text-logo;
		.card-image{
			background-image: url(images/ondo-fashion-week-apparel-2-neptunn.jpg);
			height:600px;
			margin-top: 0;
		}
	}
	@media screen and (max-width: 600px){
		padding: 0 20px;
		margin-top: 20px;
		h2{
			font-size:20px;
		}
		
		.ondo{
			.fashion-week{
				.card-image{
					height:150px;
					background-size: contain;
				}
				h3{
					font-size:16px;
				}
			}
		}
		.text-caption{
			.card-title{
				font-size: 15px;
			}
			.text-caption2{
				p{
					font-size:13px;
				}
				h2{
					font-size:16px;
				}
			}
		}
		.logos{
			.logo-story{
				.card-image{
					height: 150px;
					margin: 0;
					background-size: contain;
				}
			}
		}
		.text-caption3{
			.card-title{
				font-size: 15px;
			}
			.text-story2{
				p{
					font-size:13px;
				}
				h2{
					font-size:16px;
				}
			}
		}
		.text-logo{
			.card{
				.card-image{
					height: 150px;
					background-size: contain;
				}
			}
		}
		.text-logo2,.text-logo3,.fashion-week-work,.fashion-week-work2{
			.card{
				.card-image{
					height: 250px;
					background-size: cover;
				}
			}
		}
		.orisa-text{
			.card{
				h2{
					font-size:15px;
				}
				p{
					font-size:13px;
				}
			}
		}
	}
	@media screen and (min-width:600px) and (max-width:960px){
			padding: 0 20px;
		margin-top: 20px;
		h2{
			font-size:20px;
			margin-left: 5px;
		}
		.story{
			.horizon-story{
				.card-image{
					height:250px;
				}
			}
		}
		.text-story{
			.text-story2{
				p{
					font-size:12px;
				}
			}
		}
	}
}
//..ONDO FASHION WEEK ENDS..//


//115GARAGE BEGINS---//
.garage{
	padding: 0 90px;
	margin-top: 85px;
	margin-bottom: 30px;
	h2{
		font-size:35px;
		color:#aa8515;
		font-weight: 800;
		//margin-left: 8px;
		margin-bottom: 8px;
		sup{
			font-weight: 900px;
			font-size:20px;
		}
	}
	.ondo{
		.fashion-week{
			background-color: transparent;
			box-shadow: none;
			.card-image{
				background-image: url(images/115garage-logo-signature-neptunn.jpg);
				background-position: center;
				background-size: cover;
				height:500px;
			}
			h3{
				color:#333;
				font-weight: 400;
				font-size:25px;
				margin: 0 !important;
				}
		}
	}
	
	.text-caption{
		margin-top: 60px;
		.card-title{
			font-size:25px;
			font-weight: 700;
			font-size:25px;
		}
		h2{
			color:black;
			font-weight: 700;
		}
		p{
				font-size:20px;
				color:#999;
			}
		.text-caption2{
			padding-left: 0;
			p{
				font-size:20px;
				color:#999;
			}
		}
	}
	.logos{
		.logo-story{
			box-shadow: none;
			.card-image{
				background-image: url(images/115garage-pictures-neptunn.JPG);
				background-position: top;
				background-size: cover;
				width:inherit;
				margin-top:80px;
				height: 600px;
			}
		}
	
	}
		.text-caption3{
			.card-title{
				color:#444;
				font-size:25px;
				font-weight: 700;
			}
			p{
				font-size:20px;
				color:#999;
				}
		}
	.text-logo{
		.card{
			box-shadow: none;
		}
		.card-image{
			background-image: url(images/115garage-logo-development-neptunn.jpg);
			background-position: center;
			background-size: cover;
			width:inherit;
			margin-top: 80px;
			height: 600px;
		}
	}
	.text-logo2{
		@extend .text-logo;
		.card-image{
			background-image: url(images/115garage-logo-signature-monochrome-neptunn.jpg);
			height:600px
		}
	}
	.text-logo3{
		@extend .text-logo2;
		.card-image{
			background-image: url(images/115garage-logo-signature-monochrome-neptunn-hood.jpg);
			height:600px
		}
	}
	
	.text-logo4{
		@extend .text-logo2;
		.card-image{
			background-image: url(images/115garage-logo-signature-application-stamp.jpg);
			height:600px
		}
	}
	
	.text-logo5{
		@extend .text-logo2;
		.card-image{
			background-image: url(images/115garage-logo-signature-application-iphone.jpg);
			height:600px
		}
	}
	
	.orisa-text{
		.card{
			box-shadow:none;
			h2{
				color:#444;
				font-weight: 700;
				font-size: 25px;
			}
			
			p{
				font-size:20px;
				color:#999;
				}
		}
		
	}
	.fashion-week-work{
		@extend .text-logo;
		.card-image{
			background-image: url(images/115garage-logo-signature-application-posters.jpg);
			height:600px
		}
	}
	.fashion-week-work2{
		@extend .text-logo;
		.card-image{
			background-image: url(images/115garage-pictures-2-neptunn.JPG);
			height:600px
		}
	}
	.fashion-week-work3{
		@extend .text-logo;
		.card-image{
			background-image: url(images/115garage-pictures-1-neptunn.JPG);
			height:600px;
			margin-top: 0;
		}
	}
	@media screen and (max-width: 600px){
		padding: 0 20px;
		margin-top: 20px;
		h2{
			font-size:20px;
			sup{
				font-size:15px;
			}
		}
		
		.ondo{
			.fashion-week{
				.card-image{
					height:250px;
				}
				h3{
					font-size:16px;
				}
			}
		}
		.text-caption{
			.card-title{
				font-size: 15px;
			}
			.text-caption2{
				p{
					font-size:13px;
				}
				h2{
					font-size:16px;
				}
			}
		}
		.logos{
			.logo-story{
				.card-image{
					height: 150px;
					margin: 0;
				}
			}
		}
		.text-caption3{
			.card-title{
				font-size: 15px;
			}
			.text-story2{
				p{
					font-size:13px;
				}
				h2{
					font-size:16px;
				}
			}
		}
		.text-logo,.text-logo2{
			.card{
				.card-image{
					height: 150px;
				}
			}
		}
	
		.orisa-text{
			.card{
				h2{
					font-size:15px;
				}
				p{
					font-size:13px;
				}
			}
		}
	}
}
//...115GARAGE ENDS---//

//---ORISUN CULTURAL BEGINS---//
.orisun-cultural{
	padding: 0 90px;
	margin-top: 85px;
	margin-bottom: 30px;
	h2{
		font-size:35px;
		color:#aa8515;
		font-weight:800;
		//margin-left: 8px;
		margin-bottom: 8px;
	
	}
	.ondo{
		.fashion-week{
			background-color: transparent;
			box-shadow: none;
			.card-image{
				background-image: url(images/orisun-cultural-and-arts-festival-front-cover-stack-neptunn.jpg);
				background-position: center;
				background-size: cover;
				height:500px;
			}
			h3{
				color:#333;
				font-weight: 400;
				font-size:25px;
				margin: 0 !important;
				}
		}
	}
	
	.text-caption{
		margin-top: 60px;
		.card-title{
			font-size:20px;
			font-weight: 700;
			font-size:25px;
		}
		h2{
			color:black;
			font-size:25px;
			font-weight: 800;
		}
		p{
				font-size:20px;
				color:#999;
			}
		.text-caption2{
			padding-left: 0;
			p{
				font-size:20px;
				color:#999;
			}
		}
	}
	.logos{
		.logo-story{
			box-shadow: none;
			.card-image{
				background-image: url(images/orisun-cultural-and-arts-festival-logo-stack-neptunn.jpg);
				background-position: top;
				background-size: cover;
				width:inherit;
				margin-top:80px;
				height: 600px;
			}
		}
	
	}
	.logoss{
		@extend .logos;
		.logo-story{
			.card-image{
				background-image: url(images/orisun-cultural-and-arts-festival-spread-2-neptunn.jpg);
			}
		}
	}
		.text-caption3{
			.card-title{
				color:#444;
				font-size:25px;
				font-weight: 700;
			}
			p{
				font-size:20px;
				color:#999;
				margin-bottom: 5px;
				}
			h2{
				color:#000;
				font-size:25px;
				margin-top: 0;
				font-weight: 800;
			}
		}
	.text-logo{
		.card{
			box-shadow: none;
		}
		.card-image{
			background-image: url(images/orisun-cultural-and-arts-festival-spread-3-neptunn.jpg);
			background-position: center;
			background-size: cover;
			width:inherit;
			margin-top: 80px;
			height: 600px;
		}
	}
	.text-logo2{
		@extend .text-logo;
		margin-top: 0;
		.card-image{
			background-image: url(images/orisun-cultural-and-arts-festival-spread-1-neptunn.jpg);
			height:600px;
			margin-top: 0;
		}
	}
	
	.text-logo4{
		@extend .text-logo2;
		.card-image{
			background-image: url(images/orisun-cultural-and-arts-festival-front-and-back-cover-neptunn.jpg);
			height:600px
		}
	}
	
	.text-logo5{
		@extend .text-logo2;
		float: left;
		.card-image{
			background-image: url(images/orisun-cultural-and-arts-festival-application-mall-neptunn.jpg);
			height:1200px
		}
	}
	.text-logo6{
		@extend .text-logo2;
		.card-image{
			background-image: url(images/orisun-cultural-and-arts-festival-application-coffee-neptunn.jpg);
			height:590px
		}
	}
	.text-logo7{
		@extend .text-logo2;
		.card-image{
			background-image: url(images/orisun-cultural-and-arts-festival-participant-card-neptunn.jpg);
			height:590px
		}
	}
	

	.fashion-week-work{
		@extend .text-logo;
		.card-image{
			background-image: url(images/orisun-cultural-and-arts-festival-posters-neptunn.jpg);
			height:600px
		}
	}
	@media screen and (max-width: 600px){
		padding: 0 20px;
		margin-top: 20px;
		h2{
			font-size:20px;
		}
		
		.ondo{
			.fashion-week{
				.card-image{
					height:250px;
				}
				h3{
					font-size:16px;
				}
			}
		}
		.text-caption{
			.card-title{
				font-size: 15px;
			}
			.text-caption2{
				p{
					font-size:13px;
				}
				h2{
					font-size:16px;
				}
			}
		}
		.logos{
			.logo-story{
				.card-image{
					height: 250px;
					margin: 0;
				}
			}
		}
		.text-caption3{
			.card-title{
				font-size: 15px;
			}
			.text-story2{
				p{
					font-size:13px;
				}
				h2{
					font-size:16px;
				}
			}
		}
		.fashion-week-work{
			.card{
				.card-image{
					height: 150px !important;
					background-size: contain;
				}
			}
		}
		.text-logo,.text-logo2{
			.card{
				.card-image{
					height: 250px;
				}
			}
		}
		.orisa-text{
			.card{
				h2{
					font-size:15px;
				}
				p{
					font-size:13px;
				}
			}
		}
	}
	
}

//----ORISUN CULTURAL ENDS--//


//TASTI-DISH BEGINS---//
.tastii-dish{
	padding: 0 90px;
	margin-top: 85px;
	margin-bottom: 30px;
	h2{
		font-size:35px;
		color:#aa8515;
		font-weight: 800;
		//margin-left: 8px;
		margin-bottom: 8px;
		sup{
			font-weight: 900px;
			font-size:20px;
		}
	}
	.ondo{
		.fashion-week{
			background-color: transparent;
			box-shadow: none;
			.card-image{
				background-image: url(images/tastii-dish-packaging-kitchen-neptunn.jpg);
				background-position: center;
				background-size: cover;
				height:500px;
			}
			h3{
				color:#333;
				font-weight: 400;
				font-size:25px;
				margin: 0 !important;
				}
		}
	}
	
	.text-caption{
		margin-top: 60px;
		.card-title{
			font-size:25px;
			font-weight: 700;
			font-size:25px;
		}
		h2{
			color:black;
			font-weight: 700;
		}
		p{
				font-size:20px;
				color:#999;
			}
		.text-caption2{
			padding-left: 0;
			p{
				font-size:20px;
				color:#999;
			}
		}
	}
	.logos{
		.logo-story{
			box-shadow: none;
			.card-image{
				background-image: url(images/tastii-dish-moodboard-neptunn.jpg);
				background-position: top;
				background-size: cover;
				width:inherit;
				margin-top:80px;
				height: 600px;
			}
		}
	
	}
		.text-caption3{
			.card-title{
				color:#444;
				font-size:25px;
				font-weight: 700;
			}
			p{
				font-size:20px;
				color:#999;
				}
		}
	.text-logo{
		.card{
			box-shadow: none;
		}
		.card-image{
			background-image: url(images/tastii-dish-packaging-neptunn.jpg);
			background-position: center;
			background-size: cover;
			width:inherit;
			margin-top: 80px;
			height: 500px;
		}
	}
	.text-logo2{
		@extend .text-logo;
		.card-image{
			background-image: url(images/tastii-dish-packaging-transperent-neptunn.jpg);
			height:500px
		}
	}
	.text-logo3{
		@extend .text-logo2;
		.card-image{
			background-image: url(images/tastii-dish-packaging-kitchen-neptunn.jpg);
			height:600px;
			margin-top: 0;
		}
	}
	
	.text-logo4{
		@extend .text-logo2;
		.card-image{
			background-image: url(images/TastiiDishAnimation.gif);
			height:600px;
			margin-top: 0;
		}
	}
	
	.text-logo5{
		@extend .text-logo2;
		.card-image{
			background-image: url(images/tastii-dish-posters-neptunn.jpg);
			height:400px
		}
	}
	
	.orisa-text{
		.card{
			box-shadow:none;
			h2{
				color:#444;
				font-weight: 700;
				font-size: 25px;
			}
			
			p{
				font-size:20px;
				color:#999;
				}
		}
		
	}
	.fashion-week-work{
		@extend .text-logo;
		.card-image{
			background-image: url(images/tastii-dish-outdoor-poster-neptunn.jpg);
			height:600px
		}
	}
	.fashion-week-work2{
		@extend .text-logo;
		.card-image{
			background-image: url(images/tastii-dish-signage-neptunn.jpg);
			height:600px;
			margin-top: 0;
		}
	}
	.fashion-week-work3{
		@extend .text-logo;
		.card-image{
			background-image:url(images/tastiiDish_BrandBible.gif);
			height:600px;
			margin-top: 0;
		}
	}
	
	.fashion-week-work4{
		@extend .text-logo;
		.card-image{
			background-image:url(images/tastii-dish-brand-statement-neptunn.jpg);
			height:600px;
		}
	}
	.fashion-week-work5{
		@extend .text-logo;
		.card-image{
			background-image:url(images/tastii-dish-collaterals-neptunn.jpg);
			height:600px;
		}
	}
	@media screen and (max-width: 600px){
		padding: 0 20px;
		margin-top: 20px;
		h2{
			font-size:20px;
		}
		
		.ondo{
			.fashion-week{
				.card-image{
					height:200px;
				}
				h3{
					font-size:16px;
				}
			}
		}
		.text-caption{
			.card-title{
				font-size: 15px;
			}
			.text-caption2{
				p{
					font-size:13px;
				}
				h2{
					font-size:16px;
				}
			}
		}
		.logos{
			.logo-story{
				.card-image{
					height: 200px;
					margin: 0;
				}
			}
		}
		.text-caption3{
			.card-title{
				font-size: 15px;
			}
			.text-story2{
				p{
					font-size:13px;
				}
				h2{
					font-size:16px;
				}
			}
		}
		.text-logo,.text-logo2{
			.card{
				.card-image{
					height: 200px;
				}
			}
		}
		.text-logo5{
			.card{
				.card-image{
					background-size: contain;
					height: 100px;
				}
			}
		}
		.orisa-text{
			.card{
				h2{
					font-size:15px;
				}
				p{
					font-size:13px;
				}
			}
		}
	}
}
//----TASTII DISH ENDS--//


//---FUTA FASHION WEEK BEGINS--//
.futa-fashion-week{
	padding: 0 90px;
	margin-top: 85px;
	margin-bottom: 30px;
	h2{
		font-size:35px;
		color:#aa8515;
		font-weight: 800;
		//margin-left: 8px;
		margin-bottom: 8px;
	
	}
	.ondo{
		.fashion-week{
			background-color: transparent;
			box-shadow: none;
			.card-image{
				background-image: url(images/futa-fashion-and-art-week-2018-neptunn.jpg);
				background-position: center;
				background-size: cover;
				height:500px;
			}
			h3{
				color:#333;
				font-weight: 400;
				font-size:25px;
				margin: 0 !important;
				}
		}
	}
	
	.text-caption{
		margin-top: 60px;
		.card-title{
			font-size:25px;
			font-weight: 700;
			font-size:25px;
		}
		h2{
			color:black;
			font-weight: 700;
		}
		p{
				font-size:20px;
				color:#999;
			}
		.text-caption2{
			padding-left: 0;
			p{
				font-size:20px;
				color:#999;
			}
		}
	}
	.logos{
		.logo-story{
			box-shadow: none;
			.card-image{
				background-image: url(images/futa-fashion-and-art-week-neptunn.jpg);
				background-position: top;
				background-size: cover;
				width:inherit;
				margin-top: 0;
				height: 600px;
			}
		}
	
	}
	.logoss{
		@extend .logos;
		.logo-story{
			.card-image{
				background-image: url(images/futa-fashion-and-art-week--ss-neptunn.jpg);
				height: 400px;
			}
		}
	}
		.text-caption3{
			.card-title{
				color:#444;
				font-size:25px;
				font-weight: 700;
			}
			p{
				font-size:20px;
				color:#999;
				margin-bottom: 5px;
				}
			h2{
				color:#000;
				font-size:25px;
				font-weight: 800;
			}
		}
	.text-logo{
		.card{
			box-shadow: none;
		}
		.card-image{
			background-image: url(images/futa-fashion-and-art-week-neptunn-04.jpg);
			background-position: center;
			background-size: cover;
			width:inherit;
			margin-top: 80px;
			height: 800px;
		}
	}
	.text-logo2{
		@extend .text-logo;
		margin-top: 0;
		.card-image{
			background-image: url(images/futa-fashion-and-art-week-coming-soon-neptunn.jpg);
			height:600px;
		}
	}
	
	.text-logo3{
		@extend .text-logo2;
		.card-image{
			background-image: url(images/futa-fashion-and-art-week-creatives-1-neptunn.jpg);
			height:400px
		}
		@media screen and (max-width: 600px){
			.card-image{
				height: 200px;
			}
		}
	}
	@media screen and (max-width: 600px){
		padding: 0 20px;
		margin-top: 20px;
		h2{
			font-size:20px;
		}
		
		.ondo{
			.fashion-week{
				.card-image{
					height:200px;
				}
				h3{
					font-size:16px;
				}
			}
		}
		.text-caption{
			.card-title{
				font-size: 15px;
			}
			.text-caption2{
				p{
					font-size:13px;
				}
				h2{
					font-size:16px;
				}
			}
		}
		.logos{
			.logo-story{
				.card-image{
					height: 200px;
					margin: 0;
				}
			}
		}
		.text-caption3{
			.card-title{
				font-size: 15px;
			}
			.text-story2{
				p{
					font-size:13px;
				}
				h2{
					font-size:16px;
				}
			}
		}
		.text-logo,.text-logo2{
			.card{
				.card-image{
					height: 200px;
				}
			}
		}
		.text-logo3{
			.card{
				.card-image{
					background-size: contain;
					height: 100px;
				}
			}
		}
		.orisa-text{
			.card{
				h2{
					font-size:15px;
				}
				p{
					font-size:13px;
				}
			}
		}
	}
}

//---FUTA FASHION WEEK ENDS---//


//---SUSS-N-CREAM BEGINS---//
.suss-cream{
	padding: 0 90px;
	margin-top: 85px;
	margin-bottom: 30px;
	h2{
		font-size:35px;
		color:#aa8515;
		font-weight: 800;
		//margin-left: 8px;
		margin-bottom: 8px;
	
	}
	.ondo{
		.fashion-week{
			background-color: transparent;
			box-shadow: none;
			.card-image{
				background-image: url(images/suss-n-cream-business-card-01-neptunn.jpg);
				background-position: center;
				background-size: cover;
				height:500px;
			}
			h3{
				color:#333;
				font-weight: 400;
				font-size:25px;
				margin: 0 !important;
				}
		}
	}
	
	.text-caption{
		margin-top: 60px;
		.card-title{
			font-size:25px;
			font-weight: 700;
			font-size:25px;
		}
		h2{
			color:black;
			font-weight: 700;
		}
		p{
				font-size:20px;
				color:#999;
			}
		.text-caption2{
			padding-left: 0;
			p{
				font-size:20px;
				color:#999;
			}
		}
	}
	.logos{
		.logo-story{
			box-shadow: none;
			.card-image{
				background-image: url(images/suss-n-cream-sketch-neptunn.jpg);
				background-position: top;
				background-size: cover;
				width:inherit;
				margin-top: 0;
				height: 600px;
			}
		}
	
	}

		.text-caption3{
			.card-title{
				color:#444;
				font-size:25px;
				font-weight: 700;
			}
			p{
				font-size:20px;
				color:#999;
				margin-bottom: 5px;
				}
			h2{
				color:#000;
				font-size:30px;
			}
		}
	.text-logo{
		.card{
			box-shadow: none;
		}
		.card-image{
			background-image: url(images/suss-n-cream-logo-neptunn.jpg);
			background-position: center;
			background-size: cover;
			width:inherit;
			margin-top: 0;
			height: 600px;
		}
	}
	.text-logo2{
		@extend .text-logo;
		margin-top: 0;
		.card-image{
			background-image: url(images/suss-n-cream-pattern-neptunn.jpg);
			height:600px;
			margin-top: 80px;
		}
	}
	
	.text-logo3{
		@extend .text-logo2;
		.card-image{
			background-image: url(images/suss-n-cream-logo-more-neptunn.jpg);
			height:600px;
		}
	}
	
	.text-logo4{
		@extend .text-logo2;
		.card-image{
			background-image: url(images/suss-n-cream-business-card-02-neptunn.jpg);
			height:600px;
		}
	}
	
	.text-logo5{
		@extend .text-logo2;
		.card-image{
			background-image: url(images/suss-n-cream-business-card-full-neptunn.jpg);
			height:600px;
			margin-top: 80px;
		}
	}
	@media screen and (max-width: 600px){
		padding: 0 20px;
		margin-top: 20px;
		h2{
			font-size:20px;
		}
		
		.ondo{
			.fashion-week{
				.card-image{
					height:200px;
				}
				h3{
					font-size:16px;
				}
			}
		}
		.text-caption{
			.card-title{
				font-size: 15px;
			}
			.text-caption2{
				p{
					font-size:13px;
				}
				h2{
					font-size:16px;
				}
			}
		}
		.logos{
			.logo-story{
		
				.card-image{
					background-size: contain;
					height: 150px;
				}
			}
		}
		.text-caption3{
			.card-title{
				font-size: 15px;
			}
			.text-story2{
				p{
					font-size:13px;
				}
				h2{
					font-size:16px;
				}
			}
		}
		.text-logo,.text-logo2{
			.card{
				.card-image{
					height: 200px;
				}
			}
		}
		.orisa-text{
			.card{
				h2{
					font-size:15px;
				}
				p{
					font-size:13px;
				}
			}
		}
	}
}
